// Config
@import 'config/variables.scss';
@import '_layout.scss';
// Components
@import "components/header",
        "components/fonts.scss",
        "components/buttons.scss",
        "components/titles.scss",
        // "components/select.scss",
        "components/forms.scss",
        "components/tradedrawal.scss",
        "components/asideTrade.scss",
        "components/tables.scss",
        "components/antd-loading",
        "components/footer";

// Pages
@import 'pages/carteira.scss', 'pages/grafico.scss', 'pages/verificacao.scss',
	'pages/pagamento.scss', 'pages/simples.scss','pages/orders.scss';

// Reveal mobile itens just under 1280px (Ipad)
.just_mobile{
    display: none;
}

@media (max-width: 1280px) {
    .just_mobile{
        display: block;
    }
}

.content_wrap{
    min-height: calc(100vh - 64px);
    display: flex;
    flex-flow: column;
    // padding-left: 20px;
    box-sizing: border-box;
}

.main {
    flex: auto;
    width: calc(100vw - 290px);
    min-height: 100vh;
    box-sizing: border-box;
    padding-bottom: 50px;

    section{
		padding: 1rem;

		&.simple_wrap{
			padding: 15px 0 0;
			margin-bottom: 2rem;
		}
    }
}

.sec-table {
	display: flex;
	flex-wrap: wrap;
    padding: 1rem;
    justify-content: space-between;
    box-sizing: border-box;
}

@media (max-width: 1280px) {

    .main{
        padding-bottom: 0px;
    }

    .content_wrap{
        padding-bottom: 50px;
        padding-top: 70px;
        padding-left: 0;
    }

    section{
        padding-left: 0px;
    }

    .sec-table {
        flex-direction: column;

        div {
			overflow-x: auto;
        }
    }
}

.select-default {
	background-color: transparent;
	color: #fff;
	opacity: 0.5;
	padding: 0.5rem 1rem;
	border-radius: 3px;
	outline: none;
	option {
		color: #fff;
		background-color: #1b1c3f;
		opacity: 0.5;
	}
}

.screen-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
}

.overlay-loading {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: $primary-color;
	display: flex;
	justify-content: center;
	align-items: center;
	&__img {
		height: 2rem;
		animation: rotation 5s infinite linear;
	}
}

@-webkit-keyframes rotation {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(359deg);
	}
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}

.container-content {
	width: 94%;
	margin: 0 auto;
}

@media (max-width: 1280px) {
    .container-content {
		width: 100%;
		padding: 1rem;
		box-sizing: border-box;
	}
}

.link {
	color: inherit;
	text-decoration: none;
}

.seguranca {
    display: flex;
    border-bottom: thin solid rgba(0,0,0,.5);
    justify-content: space-between;
    margin-top: 2.3rem;
    padding-bottom: .3rem;
    align-items: center;
    &__h1 {
        font: {
            family: $primary-font;
            size: 0.9rem;
            weight: 700;
        }
        text-transform: uppercase;
        letter-spacing: -0.05em;
    }
    &__save {
        background-color: $primary-color;
        color: #FFF;
        padding: .5rem 1rem;
    }
    &__form {
        display: flex;
        flex-wrap: wrap;
        margin-top: 1rem;
    }
    &__input-content {
        width: 50%;
        margin-bottom: 2rem;
    }
    &__label {
        display: flex;
        margin-bottom: .5rem;
    }
    &__button {
        color: $primary-color;
        border: thin solid $primary-color;
        padding: .5rem 1rem;
        font-size: .7rem;
    }
    &__title {
        padding-bottom: .5rem;
        border-bottom: thin solid rgba(255,255,255,.3);
        margin-bottom: .5rem;
    }
    &__input {
        background-color: transparent;
        border: thin solid rgba(255,255,255,.3);
        color: rgba(255,255,255,.5);
        padding: .3rem 1rem;
    }
    &__inside-input {
        color: rgba(255,255,255,.5);
        position: absolute;
        top: .5rem;
        font-size: .65rem;
        right: .5rem;
    }
    &__content-flex {
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
        flex-wrap: wrap;

        & > div{
            margin-bottom: 10px;
            margin-right: 20px;
        }

        input{
            height: 38px;
            box-sizing: border-box;
        }
    }
    &__internal-content {
        width: 99%;
    }
}

.perfil {
	&__fig-img {
		height: 6rem;
		opacity: 0.5;
	}
	&__form {
		width: 16rem;
		display: flex;
		//justify-content: space-between;
		flex-wrap: wrap;
	}
	&__input {
		width: 5rem;
		margin-left: 0.3rem;
		flex: auto;
		outline: none;
	}
}

/*.pagamento {
    &__list {
        display: flex;
        margin-top: 2rem;
        flex-wrap: wrap;
    }
    &__item {
        padding: 1rem;
        border: thin solid rgba(255,255,255,.3);
        width: 14rem;
        opacity: .5;
        margin-right: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3rem;
        height: 6rem;
        &--selected {
            opacity: .8;
            border: thin solid $primary-color;
        }
        &:hover {
            opacity: 1;
            cursor: pointer;
        }
    }
    &__item-add {
        border: thin solid rgba(255,255,255,.3);
        padding: 1rem;
        width: 8rem;
        text-align: center;
        opacity: .5;
        cursor: pointer;
        height: 6rem;
        img {
            height: 1.5rem;
            text-align: center;
            padding: 1rem;
        }
        &:hover {
            opacity: 1;
        }
    }
    &__simbol {
        height: 1rem;
        margin-left: auto;
    }
    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__fig {
        height: 3rem;
    }
    &__num {
        text-align: right;
        margin-top: .5rem;
    }
    &__name {
        font-size: 1rem;
        font-weight: bold;
    }
}*/

.tooltip {
	background: #f1f1f1 !important;
	border-color: #222 !important;
	color: #000 !important;
	border-radius: 2px !important;
}

.overlay-deposito__input::-webkit-input-placeholder {
	color: rgba(0, 0, 0, 0.8) !important;
}
.overlay-deposito__input:-moz-placeholder {
	color: rgba(0, 0, 0, 0.8) !important;
}
.overlay-deposito__input::-moz-placeholder {
	color: rgba(0, 0, 0, 0.8) !important;
}
.overlay-deposito__input:-ms-input-placeholder {
	color: rgba(0, 0, 0, 0.8) !important;
}

td {
	font-weight: normal;
	letter-spacing: 1px;
}

.img-circle {
	height: 0.5rem;
}

.tradingview-widget-container div div {
	width: 100% !important;
	height: 320px !important;
}

.layout__area--top {
	height: 2px !important;
	background-color: $bg-table-body;
}

.ant-select-dropdown-menu-item {
	font-size: 0.9rem;
	letter-spacing: 0;
}



.place-order-btn {
	display: inline-block !important;
	width: 50% !important;
}

.place-order-btn-yes {
	background: #126de5 !important;
}
.place-order-btn-no {
	background: $black-absolute !important;
}

.place-order-btn-delete {
	background: red !important;
}

.row {
	display: block !important;
	width: 100% !important;
}

.simple-row {
	margin: 5px 0;
	padding: 5px 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.col-6 {
	display: inline-block !important;
	width: 50% !important;
}

.ant-form-item {
	margin-bottom: 0 !important;
	font-family: $primary-font;
	letter-spacing: 0;
}

// .ant-input,
// .ant-input-number {
// 	background: transparent !important;
// 	border-color: rgba(255, 255, 255, 0.2) !important;
// 	border-radius: 0 !important;
// 	color: white !important;
// 	outline: none !important;
// 	position: relative !important;
// 	letter-spacing: 0 !important;
// 	font-family: $primary-font !important;
// 	font-size: 13.3333px !important;
// }

// .ant-input:hover,
// .ant-input:focus,
// .ant-input-number:hover,
// .ant-input-number:focus {
// 	border-color: white !important;
// 	color: white !important;
// 	letter-spacing: 0 !important;
// 	font-size: 13.3333px !important;
// }

// .ant-input-number-input {
// 	font-family: $primary-font !important;
// 	position: relative !important;
// 	color: white !important;
// 	outline: none !important;
// 	letter-spacing: 0 !important;
// 	font-size: 13.3333px !important;
// }

.screen-overlay .ant-input,
.screen-overlay .ant-input-number {
	background-color: rgb(255, 255, 255) !important;
	width: 100% !important;
	box-sizing: border-box !important;
	display: flex !important;
	padding: 4px 11px !important;
	border-width: thin !important;
	border-style: solid !important;
	// border-color: rgb(221, 221, 221) !important;
	border-image: initial !important;
	outline: none !important;
	color: #000 !important;
}

.screen-overlay .ant-input:focus,
.screen-overlay .ant-input-number:focus {
	color: #000 !important;
	border-color: $item-color !important;
}

.screen-overlay .ant-input::placeholder {
	color: $color-text-filter !important;
}

.ant-alert {
	font-family: $primary-font !important;
	letter-spacing: 0 !important;
	font-weight: 600 !important;
}

.screen-overlay .ant-input-number-input {
	color: #000 !important;
}

.ant-select-selection {
	border-radius: 0 !important;
}

.ant-select {
	font-size: 13.3333px !important;
}

.ant-form-item-control {
	line-height: 0 !important;
}

.ant-btn {
	border-radius: 2px !important;
}

.ant-form-explain,
.ant-form-extra {
	font-size: 0.8rem !important;
}

.ant-form-extra {
	margin-top: -10px !important;
}

.ant-input.tfa-input,
.tfa-input,
.tfa-input:hover,
.tfa-input:focus {
	font-size: 1.5rem !important;
	padding: 20px 0 !important;
	text-align: center !important;
	font-weight: 400 !important;
	letter-spacing: 20px !important;
}

.ant-alert-banner {
	position: fixed !important;
	transition: all 1s ease-in-out !important;
	bottom: 0 !important;
	top: auto !important;
	font-size: 1.1rem !important;
}

.ant-alert-banner .ant-alert-icon {
	top: 0;
	left: 0;
	right: 0;
	position: relative !important;
	margin-top: -10px;
	margin-right: 5px;
}

.ant-alert-banner .ant-alert-close-icon {
	right: 40px;
}

.toggle-wrapper {
	margin: 0.5em auto;
	label {
		padding: 0.3em;
		font-size: 17px;
		display: block;
	}
}

.toggleContainer {
	width: 100%;
	position: relative;
	background: #ffffff;
	border: 1px solid #eeeeee;
	.toggleOption {
		display: inline-block;
		position: relative;
		z-index: 1;
		text-align: center;
		height: 40px;
		line-height: 40px;
		cursor: pointer;
		transition: all 0.5s ease-in-out;
		color: #807b77;
		font-size: 1em;
		&.selected {
			color: #ffffff;
			cursor: initial;
		}
	}
	.toggle {
		position: absolute;
		height: 100%;
		bottom: 0;
		left: 0;
		transition: all 0.4s ease-in-out;
		background: #df5d5d;
	}
}

.optionDisabled {
	background: #e6e6e6;
	cursor: no-drop !important;
}

.blink-enter {
	opacity: 0.01;
}

.blink-enter.blink-enter-active {
	opacity: 1;
	color: yellow !important;
	transition: opacity 300ms ease-in;
}

.blink-enter.blink-enter-active td {
	color: yellow !important;
}

.blink-leave {
	opacity: 1;
}

.blink-leave.blink-leave-active {
	opacity: 0.01;
	transition: opacity 300ms ease-in;
}

.fa-button::placeholder {
	color: $color-text-filter !important;
}

.fa-button {
	color: #000 !important;
}
