.carteira {
    &__title {
        font-size: .8rem;
        text-align: center;
        padding: 1.5rem;
    }
    &__center {
        display: flex;
        justify-content: center;
    }
    &__cash {
        font-size: 1.5rem;
        span {
            font-size: .8rem;
            margin-right: 5px;
        }
    }
    &__sigla {
        margin-top: 1.5rem;
        margin-bottom: 2rem;
        font-size: 1rem;
        margin-right: 1rem;
        padding: .3rem;
        //background-color: #4E5E8C;
        opacity: .5;
    }
}

.loading-icon {
  display: block;
  position: relative;
  width: 64px;
  height: 64px;
  margin-top: 30vh;
}
.loading-icon div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 2px solid #333;
  border-radius: 50%;
  animation: loading-icon 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #333 transparent transparent transparent;
}
.loading-icon div:nth-child(1) {
  animation-delay: -0.45s;
}
.loading-icon div:nth-child(2) {
  animation-delay: -0.3s;
}
.loading-icon div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes loading-icon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.overlay-deposito__type {
  button {
    width: 50%;
    background: transparent;
    border: none !important;
    font-weight: bold;
    outline: none;
    box-shadow: none;
    padding: 20px 0;
    line-height: 0;
    color: $color-text-filter;
    &:hover, &:focus {
      background: transparent;
      border: none;
      box-shadow: none;
      color: $color-text-filter;
    }
    &.full {
      width: 100%;
    }
    &.active {
      color: #fff;
      background: $color-text-filter;
      &:first-child {
        border-radius: 2px 0 0 2px !important;
        &.full {
          border-radius: 2px !important;
        }
      }
      &:last-child {
        border-radius: 0 2px 2px 0 !important;
        &.full {
          border-radius: 2px !important;
        }
      }
    }
  }
}
