@import '../config/variables.scss';

//General configs

body {
  background-color: $bg-login;
}

.text-center {
  text-align: center;
}

.mb-3 { margin-bottom: 1rem!important; }
.mt-2 { margin-top: 0.6rem!important; }
.mt-3 { margin-top: 1rem!important; }
.ml-3 { margin-left: 1rem!important; }
.mr-3 { margin-right: 1rem!important; }
.mr-2 { margin-right: 0.5rem!important; }

// Container of the login box

.custom-modal > .container {
  padding: 0;
  margin-top: 50px;
  position: relative;
  min-width: 100vw;
  min-height: calc( 100vh - 50px );
  box-sizing: border-box;
  top: 0;
}

.custom-modal .row {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  width: 340px !important;
}

@media (max-width: 767.98px) {
  .custom-modal .row {
    max-width: 90vw;  
  }
}

// div.box {
//   &.confirm-email {
//     width: 55% !important;
//     left: 22.5% !important;
//     margin-left: 0 !important;
//     .bg {
//       padding-bottom: 50px;
//     }
//   }
// }


//Butons

.btn-block {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  color: #343434;
}

.btn-primary {
	color: #fff;
}

.btn-block {
	display: block;
	width: 100%;
}

.btn-default, .btn-default:hover, .btn-default:focus {
	color: #000 !important;
}

.btn-ls-back{
  display: block;
  position: absolute;
  top: 3vh;
  left: 3vh;
	color: #fff !important;
  text-decoration: none;
  z-index: 5;
  padding: 2px 7px 2px 0 !important;
  background: none !important;
  min-height: auto !important;

  &:hover{
    text-decoration: underline;
    color: #333 !important;
  }
}

@media (max-width: 767.98px) {

  .btn-ls-back{
    top: 10px;
    left: 10px;
  }
  
}

.btn-primary {
  span{
    display: block;
    white-space: nowrap;
    clear: both;
  }

  sub{
    display: block;
    width: 100%;
    white-space: nowrap;
  }
}

button.btn {
  align-items: center;
  justify-content: center;
  min-height: 48px;
  background: $black-absolute;
  color: #fff;
  padding: 10px 40px;
  max-width: 100%;
  font-size: 14px;
  font-weight: 600;
  border: 0;
  outline: 0;
  cursor: pointer;
  border-radius: 3px;
  -moz-appearance: none;
  -webkit-appearance: none;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
}

input[type="submit"]:hover, .btn:hover, input[type="submit"]:focus, .btn:focus {
  background: #00BE96;
}

//Inputs

.form-group {
  margin-bottom: 15px;
  position: relative !important;
}

.form-control {
	display: block;
	width: 100%;
  color: #000 !important;
  
  &::-webkit-input-placeholder, &::-moz-placeholder, &:-ms-input-placeholder, &:-moz-placeholder {
    color: #222 !important;
    opacity: 1 !important;
  }
}

.input-group {
	 position: relative;
	 display: flex;
	 flex-wrap: wrap;
	 align-items: stretch;
	 width: 100%;
}
 .input-group > .form-control, .input-group > .custom-select, .input-group > .custom-file {
	 position: relative;
	 flex: 1 1 auto;
	 width: 1%;
	 margin-bottom: 0;
}
 .input-group > .form-control + .form-control, .input-group > .custom-select + .form-control, .input-group > .custom-file + .form-control, .input-group > .form-control + .custom-select, .input-group > .custom-select + .custom-select, .input-group > .custom-file + .custom-select, .input-group > .form-control + .custom-file, .input-group > .custom-select + .custom-file, .input-group > .custom-file + .custom-file {
	 margin-left: -1px;
}
 .input-group > .form-control:focus, .input-group > .custom-select:focus, .input-group > .custom-file .custom-file-input:focus ~ .custom-file-label {
	 z-index: 3;
}
 .input-group > .custom-file .custom-file-input:focus {
	 z-index: 4;
}
 .input-group > .form-control:not(:last-child), .input-group > .custom-select:not(:last-child) {
	 border-top-right-radius: 0;
	 border-bottom-right-radius: 0;
}
 .input-group > .form-control:not(:first-child), .input-group > .custom-select:not(:first-child) {
	 border-top-left-radius: 0;
	 border-bottom-left-radius: 0;
}
 .input-group > .custom-file {
	 display: flex;
	 align-items: center;
}
 .input-group > .custom-file:not(:last-child) .custom-file-label, .input-group > .custom-file:not(:last-child) .custom-file-label::after {
	 border-top-right-radius: 0;
	 border-bottom-right-radius: 0;
}
 .input-group > .custom-file:not(:first-child) .custom-file-label {
	 border-top-left-radius: 0;
	 border-bottom-left-radius: 0;
}
 .input-group-prepend, .input-group-append {
	 display: flex;
}
 .input-group-prepend .btn, .input-group-append .btn {
	 position: relative;
	 z-index: 2;
}
 .input-group-prepend .btn + .btn, .input-group-append .btn + .btn, .input-group-prepend .btn + .input-group-text, .input-group-append .btn + .input-group-text, .input-group-prepend .input-group-text + .input-group-text, .input-group-append .input-group-text + .input-group-text, .input-group-prepend .input-group-text + .btn, .input-group-append .input-group-text + .btn {
	 margin-left: -1px;
}
 .input-group-prepend {
	 margin-right: -1px;
}
 .input-group-append {
	 margin-left: -1px;
}

 .input-group-text {
	 display: flex;
	 align-items: center;
	 padding: 0.375rem 0.75rem;
	 margin-bottom: 0;
	 font-size: 1rem;
	 font-weight: 400;
	 line-height: 1.5;
	 color: #495057;
	 text-align: center;
	 white-space: nowrap;
	 background-color: #e9ecef;
	 border: 1px solid #ced4da;
	 border-radius: 0.25rem;
}
 .input-group-text input[type="radio"], .input-group-text input[type="checkbox"] {
	 margin-top: 0;
}
 .input-group-lg > .form-control, .input-group-lg > .input-group-prepend > .input-group-text, .input-group-lg > .input-group-append > .input-group-text, .input-group-lg > .input-group-prepend > .btn, .input-group-lg > .input-group-append > .btn {
	 height: calc(2.875rem + 2px);
	 padding: 0.5rem 1rem;
	 font-size: 1.25rem;
	 line-height: 1.5;
	 border-radius: 0.3rem;
}
 .input-group-sm > .form-control, .input-group-sm > .input-group-prepend > .input-group-text, .input-group-sm > .input-group-append > .input-group-text, .input-group-sm > .input-group-prepend > .btn, .input-group-sm > .input-group-append > .btn {
	 height: calc(1.8125rem + 2px);
	 padding: 0.25rem 0.5rem;
	 font-size: 0.875rem;
	 line-height: 1.5;
	 border-radius: 0.2rem;
}
 .input-group > .input-group-prepend > .btn, .input-group > .input-group-prepend > .input-group-text, .input-group > .input-group-append:not(:last-child) > .btn, .input-group > .input-group-append:not(:last-child) > .input-group-text, .input-group > .input-group-append:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group > .input-group-append:last-child > .input-group-text:not(:last-child) {
	 border-top-right-radius: 0;
	 border-bottom-right-radius: 0;
}
 .input-group > .input-group-append > .btn, .input-group > .input-group-append > .input-group-text, .input-group > .input-group-prepend:not(:first-child) > .btn, .input-group > .input-group-prepend:not(:first-child) > .input-group-text, .input-group > .input-group-prepend:first-child > .btn:not(:first-child), .input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child) {
	 border-top-left-radius: 0;
	 border-bottom-left-radius: 0;
}

// .custom-modal is the page wraper of login, signup and reset password

.custom-modal{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  max-width: 100vw;
  padding: 0;
  height: 100vh;
  background: rgb(94,205,240);
  background: linear-gradient(90deg, rgba(94,205,240,1) 0%, rgba(106,228,179,1) 100%);
  background-size: cover;
  color: #fff;
  overflow-x: hidden !important;
  overflow-y: scroll;

  input[type="text"], input[type="password"], input[type="email"] {
    border: 1px solid rgba(0,0,0,0.07);
    padding: 0 20px;
    height: 48px;
    margin-bottom: 1rem;
    font-size: 14px;
    font-weight: 400;
    background: #fafafa;
    outline: 0;
    font-family: inherit;
    border-radius: 3px;
    box-shadow: none;
    -webkit-appearance: none;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    width: 100%;
    max-width: calc(100% - 40px);
    transition: all 0.2s ease-in-out;
  }

  .input-group, .form-group {
    width: 100%;
    max-width: 100%;
  }

  .input-group input {
    width: 70%;
  }

  input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus {
    border-color: #00BE96;
  }

  input[type="password"], input.password-target {
    width: 50%;
  }

  hr {
    border: 0px;
    height: 2px;
    background: rgba(0,0,0,.1) !important;
  }

  .foreground {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background: $bg-navbar;
    width: 100vw;
    height: 50vh;
    z-index: 0;
    transition: .3s all;
  }

  .box {
    position: relative;
    width: 100%;
    padding: 10px 0;
  }

  .logo-area {
    display: block;
    position: relative;
    margin-bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
  
    img {
      height: 50px;
    }
  }

  .bg {
    background: #fff;
    color: $color-text-filter;
    border-radius: 3px;
    padding: 40px 20px;
    border: 2px solid #eee;

    &.big{
      width: 50vw;
      box-sizing: border-box;     
      margin-left: calc( -50vw / 2 + 170px) ;
      display: block;

      @media (max-width: 767.98px) {
        width: 100%;
        margin-left: 0;
      }
    }
  
    a {
      color: #444;
      font-weight: 500;
  
      &:hover {
        color: #222;
        text-decoration: underline;
      }
    }
  }
}

.invalid-feedback {
	position: absolute;
	top: 1rem;
	right: 10px;
	color: red;
	margin: auto;
	font-size: 0.9rem;
}

.positive-feedback {
	top: 1rem;
	right: 10px;
	color: green;
	margin: auto;
	font-size: 0.9rem;
  text-align: center;
}

.invalid-feedback.password {
	right: 3.1rem;
}

.general-invalid-feedback {
	width: 100%;
	text-align: center;
	color: red;
	display: block;
	font-size: 0.9rem;
}

.2fa-fields {
  display: none !important;
  &.show {
    display: block;
  }
  &.hidden {
    display: none;
  }
}
