.header {
    background-color: $bg-navbar;
    padding: 0 1rem;
    height: 4rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    nav{
        display: flex;
        position: relative;
    }

    a {
      letter-spacing: 0;
      transition: .5s all;
    }

    .hoverbox{
        background: $header-nav-color;
        // width: 0;
        height: 3px;
        position: absolute;
        // bottom: 15px;
        // right: 0px;
        transition: .5s all;
        transition-delay: .05s;

        &.__hide{
            opacity: 0;
        }
    }

    @media (max-width: 1280px) {

        .hoverbox{
            transform: translate(0, 2px);
            max-width: 200px;
        }
    }

    &__button {
        cursor: pointer;
        // margin-left: 1rem;
        padding: 0 0.5rem 0 0.5rem;
        opacity: 1;
        position: relative;
        color: #FFF;
        text-decoration: none;
        height: 64px;
        display: flex;
        align-items: center;
        letter-spacing: -0.04rem;
        font-weight: 400;

        &--start {
            margin-right: auto;
        }

        // &:hover{
            // background-color: $header-nav-color;
            // color: $color-text-filter;
        // }

        &--select {
            opacity: 1;
            // color: $color-text-filter;
            // background-color: $header-nav-color;
            // border-bottom: 2px solid #FFF;
            /*&::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: #FFF;
                top: 2.4rem;
                left: 0;
            }*/
        }
    }
    &__button-bg {
        border: thin solid #c1c1c1;
        opacity: .5;
        padding: .3rem;
        cursor: pointer;
        &--selected {
            background-color: #FFF;
            color: #1B1C3F;
        }
    }
    &__deposit {
        background-color: #1E1F42;
        padding: .5rem;
        opacity: 1;
        color: #474C73
    }
}

/* --------- MEDIA QUERIES ----------- */

@media (max-width: 1280px) {

    .header{
        position: fixed;
        z-index: 9;
        width: 100vw;
        height: 60px;
        top: 0;
        left: 0;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
        box-sizing: border-box;

        > div{
            display: block;
            margin: 0 auto;

            button{
                height: 30px;

                img{
                    height: 100%;
                }
            }
        }

        #mobile_left_menu_bt{
            position: absolute;
            top: 15px;
            left: 20px;
            margin-right: 20px;
        }

        #mobile_right_menu_bt{
            position: absolute;
            top: 15px;
            right: 20px;
            margin-left: 20px;
        }

        .close{
            width: 5vw;
            position: absolute;
            top: 20px;
            right: 40px;
            z-index: 5;
            max-width: 30px;
            font-size: 2em;
            cursor: pointer;
        }

        nav{
            position: absolute;
            top: 0;
            right: -90vw;
            height: 100vh;
            width: 90vw;
            background: $primary-color;
            display: block;
            opacity: 0;
            padding: 20px;
            transition: .5s all;
            transition-timing-function: ease-out;
            box-sizing: border-box;

            &.opened{
                opacity: 1;
                display: block;
                right: 0;
                box-shadow: -2px 0 100px #000;

                .closebox{
                    left: 0;
                }
            }

            .closebox{
                position: fixed;
                display: block;
                top: 0;
                left: -10vw;
                width: 10vw;
                height: 100vh;
            }

            a.header__button{
                display: block;
                height: 20px;
                margin-left: 0;
                padding-top: 10px;
                float: left; 
                clear: left; 
            }
        }
    }

}