.aside {
  width: 290px;
  min-height: 100vh;
  background: linear-gradient(90deg, rgb(70, 164, 218) 30%, rgb(57, 204, 145) 100%);
  overflow-y: auto;
  position: relative;

  &__base-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__item-menu {
    width: calc(100% - 1.2rem);
    padding: .5rem 0 .5rem 1rem;
    border-left: medium solid rgba(0,0,0,.3);
    margin-bottom: .5rem;
    letter-spacing: 0;
    font-weight: normal;
    color: #fff;
    cursor: pointer;

    &--selected {
      background-color: rgb(67, 135, 175);
      // background-image: linear-gradient(to right, rgba(104,190,240,1) 1%, rgba(81, 209, 158,1));
    }

    &:hover {
      background-color: rgb(67, 135, 175);
      // background-image: linear-gradient(to right, rgba(104,190,240,1) 1%, rgba(81, 209, 158,1));
    }
  }

  .sliding-background {
    background: #fff;
    border: 1px solid transparent;
    color: $color-text-filter;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: calc(100% - 2px);
    line-height: 2;
    transition: left 0.3s linear;

    &.right {
      left: 50%;
    }
  }

  &__button-switch {
    padding: .3rem;
    color: #333;
    border-top: thin solid #c1c1c1;
    border-bottom: thin solid #c1c1c1;
    width: 50%;

    &:first-of-type {
      border-left: thin solid #c1c1c1;
    }

    &:last-of-type {
      border-right: thin solid #c1c1c1;
    }

    &--selected {

    }
  }

  &__container {
    padding: 1rem;
    border-bottom: 2px solid $bg-navbar-border;
    transition: display 0s linear, all .3s linear;
    position: relative;

    &--flex {
      display: flex;
    }

    &--no-border {
      border: none;
    }

    &--hide {
      max-height: 0;
      display: none;
    }
  }

  &__drop {
    margin-left: auto;

    img {
      height: .7rem;
    }
  }

  &__header {
    justify-content: center;
    display: flex;
    cursor: pointer;
  }

  &__logo {
    height: 2.3rem;
  }

  &__icon {
    height: 1rem;

    &--menu {
      margin-left: auto;
    }
  }

  &__item {
    display: flex;
    padding: .3rem;
    margin: .1rem 0;
    border-radius: 3px;
    font-family: 'SF Display';
    font-weight: 800;

    &--selected {
      background-color: $secondary-color;
    }

    &--hover {
      &:hover {
        background-color: $secondary-color;
      }
    }

    &--cursor {
      cursor: pointer;
    }
  }

  &__label {
    width: 100%;
    margin-top: .5rem;
    padding-top: 4px;
  }

  &__right-txt {
    margin-left: auto;

    img {
      font-size: .6rem;
    }
  }

  &__blue-txt {
    color: $primary-color;
    display: flex;
    align-items: center;

    img {
      height: .4rem;
      margin: 0 .2rem;
    }
  }

  &__red-txt {
    color: $third-color;
    display: flex;
    align-items: center;

    img {
      height: .4rem;
      margin: 0 .2rem;
    }
  }

  &__overlay {
    position: absolute;
    width: 100%;
    height: calc(100vh - 80px);
    top: 3.5rem;
    left: 0;
    z-index: 1;
    background-color: darken(#c1c1c1, 3%);
    padding: .5rem 1rem;
    box-sizing: border-box;
    cursor: auto;

    &--hide {
      display: none;
    }
  }

  &__list {
    margin-top: .5rem;
  }

  &__button {
    display: block;
    margin-top: .6rem;
    width: 100%;
    border: thin solid #c1c1c1;
    padding: .4rem 0 .3rem 0;
    transition: all .2s ease;
    border-radius: 3px;
    cursor: pointer;

    &:hover {
      background-color: #FFF;
      color: #22274B;
    }
  }

  &__header-but {
    display: flex;
    justify-content: space-around;
    padding: 0;
  }

  &__button-border {
    position: relative;
    font-weight: bold;
    opacity: .5;
    width: 50%;
    line-height: 3.5;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      display: block;
      background-color: rgba(255, 255, 255, .1);
    }

    &--active {
      &:before {
        display: block;
      }
    }

    &--white {
      color: #FFF;
      opacity: 1;

      &:before {
        background-color: #FFF;
      }
    }

    &--blue {
      opacity: 1;
      color: $primary-color;

      &.active {
        &:before {
          background-color: $primary-color;
        }
      }
    }

    &--red {
      opacity: 1;
      color: $third-color;

      &.active {
        &:before {
          background-color: $third-color;
        }
      }
    }
  }

  &__internal-content {
    background-color: $secondary-color;
    letter-spacing: 0;
  }

  &__form {
    padding: .5rem;
  }

  &__form-input {
    width: 100%;
    background-color: #22274B;
    color: #FFF;
    padding: .5rem;
    box-sizing: border-box;
    margin-top: .3rem;
    border-radius: 3px;
    transition: all .3s linear;
    border: 1px solid transparent;

    &.true,
    &.error {
      border-color: $third-color;
    }

    &--disabled {
      cursor: not-allowed;
      background-color: rgba(0, 0, 0, .05);
    }
  }

  &__form-item {
    margin-top: .5rem;
    display: flex;
    position: relative;
  }

  &__form-field {
    position: relative;
  }

  &__form-error {
    position: absolute;
    top: -3px;
    left: 100%;
    background: white;
    color: $third-color;
    border-radius: 3px;
    margin-left: 10px;
    letter-spacing: -0.03em;
    padding: 4px 16px;
    white-space: nowrap;
    z-index: 999999;

    &:before {
      content: '';
      right: 100%;
      top: 50%;
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border: 5px solid transparent;
      border-right-color: white;
      margin-top: -5px;
    }
  }

  &__form-button {
    display: block;
    width: 100%;
    background-color: $primary-color;
    padding: .5rem 0 .4rem 0;
    font-weight: bold;
    margin-top: .5rem;
    font-size: .8rem;

    &--red {
      background-color: $third-color;
    }
  }

  &__no-orders {
    margin-top: 2rem;
    margin-left: 1rem;
    opacity: .5;
    font-size: .8rem;
  }

  &__list {
    list-style: none;
  }

  &__item {
    text-align: center;
    font-weight: 600;

  }

  &__input {
    background-color: #1B1C3F;
    border: none;
    padding: .5rem;
  }

  &__user {
    height: 1rem;
  }

  .espaco {
    margin-bottom: .5rem;
  }
}

.simple-trade .sliding-background {
  background: rgb(18, 171, 104);
  border: 1px solid transparent;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: calc(100% - 2px);
  line-height: 2.6;
  transition: left 0.3s linear;
  font-size: 1.1rem;
  font-weight: 100;
  letter-spacing: 3px;
  cursor: pointer;
  border-radius: 5px 0 0 5px;

  &.right {
    left: 50%;
    background: rgb(245, 34, 45);
    border-radius: 0 5px 5px 0;
  }
}

.simple-trade {
  position: relative;
  width: 40% !important;
  margin: auto auto 30px;
  text-align: center;
}

@media (max-width: 1280px) {
  .simple-trade {
    width: 90% !important;
  }
}

.simple-trade button {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  font-size: 1.1rem;
  font-weight: 100;
  letter-spacing: 3px;
  border-radius: 5px;

  &:first-child {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }

  &:last-child {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
}

.par-disabled {
  opacity: .3;
  text-decoration: line-through;
}


/* --------- MEDIA QUERIES ----------- */

@media (max-width: 1280px) {

  .aside {
    position: fixed;
    top: 0;
    left: -90vw;
    min-height: 100vh;
    max-height: 100%;
    width: 90vw;
    z-index: 99;
    overflow-y: auto;
    opacity: 0;
    transition: .5s all;

    &.opened {
      opacity: 1;
      left: 0;
      box-shadow: 2px 0 100px #000;

      .closebox {
        right: 0;
      }
    }

    .closebox {
      position: fixed;
      display: block;
      top: 0;
      right: -10vw;
      width: 10vw;
      height: 100vh;
    }

    .aside__header {
      padding-left: 40px;
    }

    .close {
      width: 5vw;
      position: absolute;
      top: 20px;
      left: 20px;
      z-index: 5;
      max-width: 30px;
      font-size: 2em;
      cursor: pointer;
    }
  }

  .aside__form-error {
    position: absolute;
    top: 200%;
    left: 5%;
    background: white;

    &:before {
      content: '';
      right: 90%;
      top: -5px;
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border: 5px solid transparent;
      border-bottom-color: white;
      margin-top: -5px;
    }
  }

}
